body {
    background: linear-gradient(45deg, #000, #222, #000);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.blog-container {
    max-width: 800px;
    margin: auto;
}

.post-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;
}

.post-card {
    min-width: 80%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    scroll-snap-align: start;
    transition: transform 0.5s ease-in-out;
}

input[type="radio"] {
    position: absolute;
    top: -9999px;
}

input[type="radio"]:checked + .post-carousel .post-card {
    transform: translateX(0);
}

.comment-container {
    max-height: 100px;
    overflow-y: auto;
}

.post-card {
    width: 600px;
    max-width: 600px;
    height: 400px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    scroll-snap-align: start;
    transition: transform 0.5s ease-in-out;
}

.create_btn {
    margin-bottom: 100px;
    display: block;
}